/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset*/

td {
  padding: 5px;
}
td.green {
  color: green;
}
td.red {
  color: red;
}
th {
  font-weight: bold;
}


h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  margin: 50px;
  font: 14px sans-serif;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
}
.user {
  width: 20%;
  vertical-align: top;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #6d8cb0
}

.controls {
  //position: fixed;
  text-align: center;
  //top: 1em;
  width: 100%;
}

.controls__button {
  color: #bbb;
  font-size: 2vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.controls__button:first-child {
  margin-left: 0;
}

.controls__button:last-child {
  margin-right: 0;
}

.controls__button:hover {
  color: red;
}

.stopwatch {
  font-size: 10vw;
  height: 100%;
  line-height: normal;
  text-align: center;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.anchor--flex {
  display: flex;
}
.anchor__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: black;
  text-decoration: none;
}
.anchor__btn--active {
  background-color: #ababab;
}
.anchor__btn:hover,
.anchor__btn:focus {
  color: black;
}
/* todo dima разобраться с webpack, не работает вложенность в SCSS */
